<div class="container">
    <br>
    <h1>Pipes</h1>

    <hr>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <!-- Uppercase and Lowercase -->
            <tr>
                <td>{{ nombre_apellido }}</td>
                <td>uppercase</td>
                <td>{{ nombre_apellido | uppercase }}</td>
            </tr>
            <tr>
                <td>{{ nombre_apellido }}</td>
                <td>Lowercase</td>
                <td>{{ nombre_apellido | lowercase }}</td>
            </tr>
            <!-- Slice -->
            <tr>
                <td>{{ nombre_apellido }}</td>
                <td>Slice:3</td>
                <td>{{ nombre_apellido | slice:3 }}</td>
            </tr>
            <tr>
                <td>{{ nombre_apellido }}</td>
                <td>Slice:0:3</td>
                <td>{{ nombre_apellido | slice:0:3 }}</td>
            </tr>
            <tr>
                <td>{{ arreglo }}</td>
                <td>Slice:1:5</td>
                <td>{{ arreglo | slice:1:5 }}</td>
            </tr>
            <!-- Decimal -->
            <tr>
                <td>{{ PI }}</td>
                <td>number:'3.0-0'</td>
                <td>{{ PI | number:'3.0-0' }}</td>
            </tr>
            <tr>
                <td>{{ PI }}</td>
                <td>number:'1.0-2'</td>
                <td>{{ PI | number:'1.0-2' }}</td>
            </tr>
            <!-- Percent -->
            <tr>
                <td>{{ a }}</td>
                <td>percent</td>
                <td>{{ a | percent }}</td>
            </tr>
            <tr>
                <td>{{ a }}</td>
                <td>percent:'2.2-4'</td>
                <td>{{ a | percent:'2.2-4' }}</td>
            </tr>
            <!-- Currency -->
            <tr>
                <td>{{ salario }}</td>
                <td>currency</td>
                <td>{{ salario | currency }}</td>
            </tr>
            <tr>
                <td>{{ salario }}</td>
                <td>currency:'EUR'</td>
                <td>{{ salario | currency:'EUR' }}</td>
            </tr>
            <tr>
                <td>{{ salario }}</td>
                <td>currency:'EUR':false</td>
                <td>{{ salario | currency:'EUR':false }}</td>
            </tr>
            <tr>
                <td>{{ salario }}</td>
                <td>currency:'EUR':true:'4.0-0'</td>
                <td>{{ salario | currency:'EUR':true:'4.0-0' }}</td>
            </tr>
            <tr>
                <td>{{ salario }}</td>
                <td>number:'.2-2'</td>
                <td>{{ salario | number:'.2-2' }}</td>
            </tr>
            <!-- Async -->
            <tr>
                <td>{{ valorDePromesa }}</td>
                <td>async</td>
                <td>{{ valorDePromesa | async }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Slice + ngfor-->
    <h4>Slice</h4>
    <ul>
        <li *ngFor="let item of arreglo | slice:5:20">{{ item }}</li>
    </ul>
    <!-- JSON -->
    <h4>JSON</h4>
    <pre>
        {{ heroe | json }}
    </pre>
</div>